<p> 
	<a href="#/teams" class="btn btn-default" role="button">View Team list</a> 
	<a href="#/add" class="btn btn-primary active" role="button">Add a Team</a>
</p>
<form class="form-horizontal" ng-controller="addTeamController" ng-submit="addTeam()">
	<div class="form-group">
		<label for="name" class="col-sm-2 form-label">Team Name:</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="name" ng-model="name" />
		</div>

		<label for="founded" class="col-sm-2 form-label">Year Founded:</label>
		<div class="col-sm-4">				
			<input type="text" class="form-control" id="founded" ng-model="founded" />
		</div>
	</div>
	<div class="form-group">
		<label for="city" class="col-sm-2 form-label">City Located:</label>
		<div class="col-sm-4">				
			<input type="text" class="form-control" id="city" ng-model="city" />
		</div>
		
		<label for="stadium" class="col-sm-2 form-label">Stadium Name:</label>
		<div class="col-sm-4">				
			<input type="text" class="form-control" id="stadium" ng-model="stadium" />
		</div>
	</div>

	<div class="form-group">
		<label for="capacity" class="col-sm-2 form-label">Stadium Capacity:</label>
		<div class="col-sm-4">				
			<input type="text" class="form-control" id="capacity" ng-model="capacity" />
		</div>
		
		<label for="manager" class="col-sm-2 form-label">Manager Name:</label>
		<div class="col-sm-4">				
			<input type="text" class="form-control" id="manager" ng-model="manager" />
		</div>
	</div>

	<div class="form-group">
		<label for="websiteLink" class="col-sm-2 form-label">Website Link:</label>
		<div class="col-sm-4">				
			<input type="text" value="http://" class="form-control" id="websiteLink" ng-model="websiteLink" />
		</div>
		
		<label for="image" class="col-sm-2 form-label">Club Badge:</label>
		<div class="col-sm-4">				
			<input type="file" id="image" class="form-control" fileread="imageSubmit" />
		</div>
	</div>

 	<div class="form-group">
            <label for="details" class="col-sm-2 form-label">Details:</label>
            <div class="col-sm-10">
                <textarea id="details" class="form-control" rows="6" ng-model="details" ></textarea>
            </div>
        </div>

     <div class="form-group">
     	<div class="col-sm-12">
     		<button type="submit" ng-model="submit" class="btn btn-success">Add Team</button>
			<button type="reset" class="btn btn-danger">Reset Form</button>
     	</div>
     </div>
</form>
</div>