<form class="form-horizontal" ng-controller="editTeamController" ng-submit="editTeam()">
	<div class="form-group">
		<label for="name" class="col-sm-2 form-label">Team Name:</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="name" ng-model="teamedit.name" />
		</div>

		<label for="founded" class="col-sm-2 form-label">Year Founded:</label>
		<div class="col-sm-4">				
			<input type="text" class="form-control" id="founded" ng-model="teamedit.founded" />
		</div>
	</div>
	<div class="form-group">
		<label for="city" class="col-sm-2 form-label">City Located:</label>
		<div class="col-sm-4">				
			<input type="text" class="form-control" id="city" ng-model="teamedit.city" />
		</div>
		
		<label for="stadium" class="col-sm-2 form-label">Stadium Name:</label>
		<div class="col-sm-4">				
			<input type="text" class="form-control" id="stadium" ng-model="teamedit.stadium" />
		</div>
	</div>

	<div class="form-group">
		<label for="capacity" class="col-sm-2 form-label">Stadium Capacity:</label>
		<div class="col-sm-4">				
			<input type="text" class="form-control" id="capacity" ng-model="teamedit.capacity" />
		</div>
		
		<label for="manager" class="col-sm-2 form-label">Manager Name:</label>
		<div class="col-sm-4">				
			<input type="text" class="form-control" id="manager" ng-model="teamedit.manager" />
		</div>
	</div>

	<div class="form-group">
		<label for="websiteLink" class="col-sm-2 form-label">Website Link:</label>
		<div class="col-sm-4">				
			<input type="text" value="http://" class="form-control" id="websiteLink" ng-model="teamedit.websiteLink" />
		</div>
		
		<label for="image" class="col-sm-2 form-label">Club Badge:</label>
		<div class="col-sm-4" ng-hide="teamedit.image">				
			<!-- Custom file read directive added to the input tag -->
			<input type="file" id="image" class="form-control"  ng-model="teamedit.image" fileread="imageSubmit" />
		</div>
		<div class="col-sm-4" ng-show="teamedit.image">
			<p ng-model="teamedit.image">{{ teamedit.image }}</p>
		</div>
	</div>
 	<div class="form-group">
            <label for="details" class="col-sm-2 form-label">Details:</label>
            <div class="col-sm-10">
                <textarea id="details" class="form-control" rows="6" ng-model="teamedit.details" ></textarea>
            </div>
        </div>
     <div class="form-group">
     	<div class="col-sm-12">
     		<button type="submit" ng-model="submit" class="btn btn-success" name="update" id="update" value="update">Complete Edit</button>
			<button type="reset" class="btn btn-warning">Reset Form</button>
     	</div>
     </div>
</form>
</div>