<p>Use the input below to filter and narrow your search:</p>
<input type="text" ng-model="teamFilter" class="form-control"/>
<div ng-controller="teamListController">
<!-- Div that displays for 3 seconds while the data is pulled in -->
  <div id="loadingDiv" ng-show="loading" class="alert alert-success">
    Loading, please wait...
  </div>
  <!-- Div that displays after the three second delay. Using AngularJS's data binding to display the team informaiton from the table -->
  <div ng-show="!loading"> 
  <table class="table">
    <thead>
    <th><a href="" ng-click="sortField='name'; reverse = !reverse">Team Name</a></th>
    <th><a href="" ng-click="sortField='founded'; reverse = !reverse">Founded</a></th>
    <th><a href="" ng-click="sortField='city'; reverse = !reverse">City</a></th>
    <th><a href="" ng-click="sortField='stadium'; reverse = !reverse">Stadium/Arena</a></th>
    <th><a href="" ng-click="sortField='capacity'; reverse = !reverse">Capacity</a></th>
    <th><a href="" ng-click="sortField='manager'; reverse = !reverse">Manager</a></th>
    </thead>
    <tr ng-repeat="team in teams | filter:teamFilter | orderBy:sortField:reverse">
      <td><a href="#/teams/{{ team.id }}">{{ team.name }}</a></td>
      <td>{{ team.founded }}</td>
      <td>{{ team.city }}</td>
      <td>{{ team.stadium }}</td>
      <td>{{ team.capacity }}</td>
      <td>{{ team.manager }}</td>
    </tr>
  </table>
  </div>
</div>