<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learning AngularJS Series</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesnt work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script>
</script>
  </head>
  <body>
    <div class="container">
      <h3>Angular Day 2</h3>
    <form class="form-inline">
  <div class="form-group">
    <p>Enter temp in Celsius</p>
    <input type="number" class="form-control" ng-model="celToFar">
    <br />
    <p ng-show="celToFar || celToFar == 0">{{ ((celToFar * 9) / 5) + 32 | number:0}} degrees fahrenheit</p>
  </div>
  <div class="form-group">
    <p>Enter temp in Fahrenheit</p>
    <input type="number" class="form-control" ng-model="farToCel">
       <br />
    <p ng-show="farToCel || farToCel == 0">{{ ((farToCel - 32) * 5) / 9 | number:0}} degrees celsius</p>
  </div>
</form>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Include AngularJS -->
    <script src="js/angular.min.js"></script>
  </body>
</html>